.space {
  height: 60px;
}
.card {
  margin: 2%;
  text-align: center;

}
.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-social {
  color: red;
  margin: 4%;
}
.card-social:hover {
  color:red;

}
.history {
margin: 2%;

}
.about-p {
  text-align: center;
  margin:3%;
  font-weight: 100;
  line-height: 30px;
}
.special {
  color: red;
}
