header {
  width: 100%;


}



.social {
  color:black;
  margin-right: 2%;
  margin-top: 1%;


}


.icon-one {
  display: flex;
  justify-content: center;
}
.icon-two {
  display: flex;
  justify-content: center;
}
.one {
  /* padding-right: 50px; */
 position:relative;
 right: 25px;

}
.two {
 position:relative;
 left: 25px;
}
.icon-three {
  display: flex;
  justify-content: center;
}
.three {
  /* padding-right: 120px; */
 position:relative;
 right: 65px;
}
.four {
  position:relative;
  left: 65px;
}
.icon-four {
  display: flex;
  justify-content: center;
}
.five {
  position:relative;
  right:25px;
  /* padding-right: 50px; */
}
.six{
  position:relative;
  left: 25px;
}
.icon-five{
  display: flex;
  justify-content: center;
}

.eight:hover {
  transition: 2s;
  transform: rotate(360deg);
  color:black;

}
.one:hover {
  transition: 2s;
  transform: rotate(360deg);
  color:black;
}
.two:hover {
  transition: 2s;
  transform: rotate(360deg);
  color:black;
}
.three:hover {
  transition: 2s;
  transform: rotate(360deg);
  color:black;
}
.four:hover {
  transition: 2s;
  transform: rotate(360deg);
  color:black;
}
.five:hover {
  transition: 2s;
  transform: rotate(360deg);
  color:black;
}
.six:hover {
  transition: 2s;
  transform: rotate(360deg);
  color:black;
}
.seven:hover {
  transition: 2s;
  transform: rotate(360deg);
  color:black;
}

li > a{
  text-decoration: none;
  color: black;
  font-size: 15px;
  margin-right: 35px;
  letter-spacing: 3px;
  font-weight: 100;

}
li > a:hover {
  color: red;
}
li {
  list-style: none;
  margin-top: 5.5%;

}
a > img {
  width: 140px;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.list-wrap:hover .list{
  filter:blur(1px);
  opacity:.5;
  transform: scale(.98);
  box-shadow:none;


}
.list-wrap:hover .list:hover {
  transform:scale(1);
  filter:blur(0px);
  opacity:1;
  transition: 1s;
  font-weight: 400;
  /* box-shadow:0 8px 20px 0px rgba(0,0,0,0.125); */
}
.list {
  transition: 1s;
}
